[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Keyboard Visualizer
Comment=Control RGB lighting
Exec=KeyboardVisualizer
Icon=KeyboardVisualizer
Terminal=false
Categories=Utility;
